<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Accueil.css" />

    <title>Page d'Accueil</title>
</head>
<body>
   <div class="header">
        <nav>
            <img src="image/logo_CL_final-removebg-preview.png" class="logo" alt="">
          <br> <br>
            <ul>
                <!--<div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Apprendre GRATUITEMENT</button>
                    <button class="btn btn-primary" type="button">S'identifier</button>
                </div>-->
                
                <li><a href="#">Apprendre GRATUITEMENT</a></li>
                <li>
                    <a href="formulaire.html" >Se Connecter</a></li>
                <li><a href="#">Contact</a></li>

            </ul>
        </nav>
        <div class="site-header">
            <br>  <br> <br> <br> <br> <br> <br> 
            <p> Bienvenue sur </p>
            <h1> CAMERLINGO</h1>
            <h3><i>"Explorez les langues camerounaises !"</i></h3>

            <div class="liens">
                <a href="#" >Commencer le cour</a>
                <a href="#" >Voir les cours <span>&#x27f6</span></a>
            <br> 
                <span >
                <br><br><h> Tu cherches à diversifier tes compétences linguistiques, je te recommande vivement d'apprendre une langue maternelle du Cameroun sur CAMERLINGO. <br>Et le meilleur, c'est que tu peux le faire en seulement 10 minutes par jour!
                    Fixe-toi des objectifs réalistes et avance à ton propre rythme. 
                    <br> Tu pourras communiquer avec des personnes qui parlent cette langue et découvrir une culture riche et fascinante.
                    Alors, pourquoi ne pas commencer dès maintenant? </h5>
                
                </span>

            </div>
        </div>

        <div class="social-icons">
            <a href="#"><img src="image/phone-fill.png" alt=""></a>
            <a href="#"><img src="image/telegram-fill.png" alt=""></a>
            <a href="#"><img src="image/instagram-fill.png" alt=""></a>
            <a href="#"><img src="image/github-fill.png" alt=""></a>
        </div>
    <!--<a href="#"><img src="image/logo_appel-removebg-preview.png" ></a>-->
</div>

<main class="main"> 
        <article class="article">
            <a href="#"> <img src = "image/logo CL rogner.png .png" alt="logo CAMERLINGO" > </a>
            

        <h2>La méthode n° 1 au monde pour apprendre une langue maternelle</h2>
             <br><br> <p>
                Apprendre une langue maternelle sur Camerlingo, c'est fun et efficace ! Nos leçons interactives et courtes te permettent de gagner des points, de progresser dans les niveaux et de profiter des avantages de la communication interculturelle en moins de temps.<br>... <i>Rejoins-nous dès maintenant !</i> 
            </p>
            <hr>
        </article>
  
    <section>
</main>

    <h2>Pourquoi tu vas adorer apprendre avec Camerlingo ?</h2>

    
        
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5>Apprends en t'amusant</h5>
                    On peut apprendre efficacement sans s'ennuyer ! Développe tes compétences jour après jour grâce à des exercices ludiquesOn peut apprendre efficacement sans s'ennuyer ! Développe tes compétences jour après jour grâce à des exercices ludiques
                </div>

                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="image/mother machine.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col-4">
                    <h5>Interactives et Ludiques</h5>
                    Des leçons interactives et ludiques pour apprendre de manière intuitive
                </div>
            </div>
        </div>
        
      
    
 
    </section>
</div>



</body>
</html>